# Python
__pycache__/
venv/
# Logs
*.log
logs/

# App
data/*

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# MacOS
.DS_Store
Thumbs.db

# Support Aps
utils/proxy_select_app/data/*
utils/proxy_select_app/logs/*
utils/proxy_select_app/results/*