# Python
__pycache__/
venv/
# Logs
*.log
logs/*
!logs/.gitkeep

# App
data/*
!data/.gitkeep

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# MacOS
.DS_Store
Thumbs.db

# Statistics
stats/results/*
!stats/results/.gitkeep

# Support Aps
utils/proxy_select_app/data/*
!utils/proxy_select_app/data/.gitkeep
utils/proxy_select_app/logs/*
!utils/proxy_select_app/logs/.gitkeep
utils/proxy_select_app/results/*
!utils/proxy_select_app/results/.gitkeep

utils/ip_from_url_app/data/*
!utils/ip_from_url_app/data/.gitkeep
utils/ip_from_url_app/logs/*
!utils/ip_from_url_app/logs/.gitkeep
utils/ip_from_url_app/results/*
!utils/ip_from_url_app/results/.gitkeep
